#head1{background-color:#264653;
color: #2a9d8f}
.head2{background-color:#faedcd ;
color:#d4a373}
button{color: rgb(21, 115, 156)}
#scar{height:100px;
width: 100px;
background-color: pink;
margin:10px;
border:3px solid black;}
pre{height:300px;
    width: 100px;
    color:white;
    background-color: rgb(93, 17, 30);
    margin:10px;
    border:3px solid black;}
#bon{height:100px;
width: 100px;
background-color: pink;
margin:10px;
border:3px solid black;}
.class{background-color: aquamarine;}











